


/*Jeffry Granados */


body{font-family: Arial,serif;}
.clear{width:100%;clear:both;}



/*Estilos cajon 1 */
.cajon {
    width: 222px;
    height: 147px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
}
.mascara{
    width: 222px;
    height: 147px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.cajon img {
    display: block;
    position: relative;
    width: 100%;
}

.cajon h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.9);
    margin: 8px 0 0 0;
}
.cajon p {    
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
}
.cajon a.link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.cajon a.link:hover {
    box-shadow: 0 0 5px #000
}


.ejemplo-1 img { 
    transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-1 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-1 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-1:hover img { 
    transform: scale(1.1);
} 
.ejemplo-1:hover .mascara { 
    opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-1:hover p {
    transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}




/*efectos cajon 2*/

.ejemplo-2 img { 
    transition: all 0.2s linear;
}
.ejemplo-2 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-2 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-2 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-2 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-2:hover img { 
    transform: scale(1.1);
} 
.ejemplo-2:hover .mascara { 
    opacity: 1;
}
.ejemplo-2:hover h2,
.ejemplo-2:hover p,
.ejemplo-2:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-2:hover p {
    transition-delay: 0.1s;
}
.ejemplo-2:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}

/*efectos cajon 3*/

.ejemplo-3 img { 
    transition: all 0.2s linear;
}
.ejemplo-3 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-3 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-3 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-3 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-3:hover img { 
    transform: scale(1.1);
} 
.ejemplo-3:hover .mascara { 
    opacity: 1;
}
.ejemplo-3:hover h2,
.ejemplo-3:hover p,
.ejemplo-3:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-3:hover p {
    transition-delay: 0.1s;
}
.ejemplo-3:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}

/*efectos cajon 4*/

.ejemplo-4 img { 
    transition: all 0.2s linear;
}
.ejemplo-4 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-4 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-4 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-4 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-4:hover img { 
    transform: scale(1.1);
} 
.ejemplo-4:hover .mascara { 
    opacity: 1;
}
.ejemplo-4:hover h2,
.ejemplo-4:hover p,
.ejemplo-4:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-4:hover p {
    transition-delay: 0.1s;
}
.ejemplo-4:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}

/*efectos cajon 4*/

.ejemplo-5 img { 
    transition: all 0.2s linear;
}
.ejemplo-5 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-5 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-5 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-5 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-5:hover img { 
    transform: scale(1.1);
} 
.ejemplo-5:hover .mascara { 
    opacity: 1;
}
.ejemplo-5:hover h2,
.ejemplo-5:hover p,
.ejemplo-5:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-5:hover p {
    transition-delay: 0.1s;
}
.ejemplo-5:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}



.ejemplo-6 img { 
    transition: all 0.2s linear;
}
.ejemplo-6 .mascara {
    opacity: 0;
    background-color: #D02E10; 
    transition: all 0.3s ease-in-out;
}
.ejemplo-6 h2 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-6 p { 
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-6 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
}
.ejemplo-6:hover img { 
    transform: scale(1.1);
} 
.ejemplo-6:hover .mascara { 
    opacity: 1;
}
.ejemplo-6:hover h2,
.ejemplo-6:hover p,
.ejemplo-6:hover a.link {
    opacity: 1;
    transform: translateX(0px);
}
.ejemplo-6:hover p {
    transition-delay: 0.1s;
}
.ejemplo-6:hover a.link {
    transition-delay: 0.2s;
    transform: translateY(0px);
}



@media only screen and ( min-width: 700px ) /* 1000 */ {
    .general{
        width: 100%;
        text-align:center;

    }
    .subgeneral{
        margin-left:27%;
        margin-right:22%;
        height:400px;
    }

    .imgIzq {
        width:100%;
        float:left;
        height: 377px;
    }
   

}
@media only screen and ( max-width: 40em ) /* 640 */ {
    .general{
        width: 100%;
        text-align:center;
    }
    .subgeneral{
        margin-left:2%;
        margin-right:2%;
    }
    .encabezado{
        width:225px;
        margin-left:2%;
        margin-right:2%;
    }
    .imgIzq {
        width:100%;
        float:left;
        height: auto;
    }

    
}
